/* = = = = = MIXed = = = = = */

#_header > div
{
    border-radius: 1em;
    margin-bottom: -2em;
    padding: 2em;

    background: #aaa;
}

#_footer > div
{
    border-radius: 1em;
    margin-top: -2em;
    padding: 2em;

    background: #aaa;
}

/* = = = = = TAGs = = = = = */

body
{
    color: #00a;
    padding: 12em 0;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
}

a
{
    font-weight: bold;
    text-decoration: none;
}
a:hover
{
    color: #a50;
}
a:active
{
    color: black;
}

/* = = = = = CLASSes = = = = = */

.container
{
    width: 90vw;
}

.flex-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* = = = = = IDs = = = = = */

#_header
{
    position:    fixed;
    top:         0;
    left:        5vw;
    padding-top: 2em;

    background: white;
}

#_content
{
    border-radius: 1em;
    margin: 0 5vw;
    padding: 2em;

    background: #ccc;
}

#_footer
{
    position:       fixed;
    bottom:         0;
    left:           5vw;
    padding-bottom: 2em;

    background: white;
}
