
/* = = = = = TAGs = = = = = */

body
{
    background: #ddf;
    color: #00a;

    font-size: 2.5vh;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
}

a
{
    font-weight: bold;
    text-decoration: none;

    color: inherit;
}
a:hover
{
    color: #730;
}
a:active
{
    color: black;
}

/* = = = = = IDs = = = = = */

#_header, #_content, #_footer
{
    position:    fixed;
    left:        5vw;

    box-shadow: 0.3em 0.3em #559;
    text-shadow: 0.1em 0.1em 0.2em #995;
}
#_header
{
    top: 2em;
}
#_content
{
    top: 11.5em;
    height: 18em;
}
#_footer
{
    bottom: 2em;
}

#_header > div, #_footer > div, #_content > div
{
    border-radius: 1em 0 1em 0;
    padding: 1.5em;
}
#_header > div, #_footer > div
{
    font-size: 1.2em;

    background: #f33;
    color: #ffa;
}
#_content > div
{
    height: 100%;
    overflow: auto;

    background: #eef;
}

/* = = = = = CLASSes = = = = = */

.container
{
    width: 90vw;
}

.flex-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
